/*
 * This is the default style for the web app template. If you know what you're doing,
 *	you can customize your app's look here. If not, better leave it alone.
 *	
 *	Sam Scott, Sheridan College, 2013
 */
body {
	text-align: center;
	background-color: black;
	font-family: sans-serif;
}
#container {
	margin: auto;
}
canvas {
	background-color: green;
}
h1 {
	margin: 5px;
}
h2 {
	margin: 5px;
	font-size: 14px;
	font-family: serif;
}
#debug {
	text-align:left;
	font-family:monospace;
}